<p id="notice"><%= notice %></p>

<div class="container">
  <div class="display-4">
    <%= @topic.title %>
  </div>

  <div class="h3">
    <%= @topic.content %>
  </div>

  <%= render @topic.comments %>

  <%= render 'comments/new', topic: @topic %>

  <%= link_to 'Back', topics_path %>
</div>
